 body {
     background-color: #f8f9fa;

 }

 .sidebar {
    text-align: center;
     height: 100vh;
     background-color: #212529;
 }

 .sidebar a {
     color: #ffffff;
     text-decoration: none;
     display: block;
     padding: 10px;
 }

 .sidebar a:hover {
     background-color: #343a40;
 }

 .card {
     border-radius: 15px;
 }